<div class="row">
	<main class="col-md-12">
		<h2>
			<em>
				Hello again! I'm so glad you're here. Thank you for visiting Build A Plate
			</em>
			&#128578;
		</h2>
		<hr />
		<div class="aboutUsDetailsContainer">
			<h3 class="regTitle">
				About Build A Plate:
			</h3>
			<br>
			<p >
				Build a plate is a meal kit delivery service which allows you to get your favourite food from different cuisines and get fresh pre-portioned ingredients delivered to your doorstep on a regular basis so that you can recreate your favourite dishes in a healthy and tasty manner at the comfort of your home.!
			</p>
		</div>
		<br>
		<div class="aboutUsDetailsContainer">
			<h3 class="regTitle">
				About the founders:
			</h3>
			<br>
			<p>
				
			Build A Plate was developed by "The IT guys" a group of four members enrolled in the Database Application Development Program Summer 2022 session at Seneca College. The group officially labelled Group 4 has four members namely Pratik Mukeshbhai Maniya, Neenu Mathew, Vedha Ragavan Padagalingam, Gokul Radhakrishnan and this website was developed under the supervision of Clint Macdonald.

			</p>
		</div>		
	</main>
</div>