<div class="row" id="forgotPwd">
	<h1>Build A Plate</h1>
	<h6 class="information-text">Enter your registered email to reset your password.</h6>
	<form action="/forgotPassword" method="POST">
		{{#if errorMessage}}
		<h5 class="text-danger">{{errorMessage}}</h5>
		{{/if}}
		{{#if successMessage}}
		<h5 class="text-success">{{successMessage}}</h5>
		{{/if}}
		<div class="form-group">
			<input type="email" name="email" id="user_email">
			<p><label for="username">Email</label></p>
			{{!-- <button onclick="showSpinner()"></button> --}}
			<input type="submit" value="Reset Password">
		</div>
	</form>
	<div class="FPfooter">
		<h5>New here? <a href="/">Sign Up.</a></h5>
		<h5>Already have an account? <a href="/">Sign In.</a></h5>
		<h5>Need Help? Contact our Support team <a href="/">Call us</a></h5>
	</div>
</div>