<main>
	<div class="row">
		<div class="col-4">
			{{!-- {{>sidePanel}} --}}
		</div>
		<div class="col-12">
			<div class="row">
				{{#each products}}
				<div class="col-4">
					<div class="border my-1 p-3 home-product-item">
						<a href="/product-details/{{_id}}">
							<h3 style="font-size: 100px;color: #444;" class="text-center"><i class="fa fa-cutlery"></i></h3>
							<h3 class="text-center">{{product_name}}</h3>
							<h5 class="text-center">${{product_price}}</h5>
						</a>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</main>