<html>

<head>
    <title>Registration Form</title>

</head>

<body>
    <h3>ORDER CONFIRMATION</h3>
    <br>
    <h3 class="regTitle">Thank you for your order!</h3>
    <h5 class="text-center">Order Id: {{order._id}}</h5>

    {{!-- <table class="orderTable" align="center" cellpadding="10">

        <!----- First Name ---------------------------------------------------------->
        <tr>
            <th style=font-size:20px>Dish</th>
            <th style=font-size:20px>QTY</th>
            <th style=font-size:20px>Schedule</th>
            <th style=font-size:20px>Start Date</th>
            <th style=font-size:20px>Total time</th>
            <th style=font-size:20px>Price</th>
        </tr>
        {{#with fruit}}
        {{#each products}}
        <tr>
            <td><i>Butter Chicken</i></td>
            <td><i>1</i></td>
            <td><i>Single Day</i></td>
            <td><i>1st August 2022</i></td>
            <td><i>1 Day</i></td>
            <td><i>CA 6.99</i></td>
        </tr>
        {{/each}}
        {{/with}}
        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                <b>Offer/discounts</b>
            </td>
            <td>
                CA 0.00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                <b>Service fee</b>
            </td>
            <td>
                CA 1.29
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                <b>TAX</b>
            </td>
            <td>
                CA 0.91
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                <b>Sub total</b>
            </td>
            <td>
                <b>CA 9.19</b>
            </td>
        </tr>

    </table> --}}


    </form>

</body>

</html>