<div class="row">
    <main class="col-md-12">
        <form method="post" action="/reset-password/{{token}}">
            <fieldset>
                <div class="container">
                    <h1>Reset Password</h1>
                    {{#if error}}
                    <h5 class="text-danger">{{error}}</h5>
                    {{/if}}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" name="password" type="password" name="password" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input class="form-control" name="confirmPassword" type="password" name="confirmPassword" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <input type="submit" class="btn btn-primary" value="Next" name="next" /><br /><br /><br />
                </div>
            </fieldset>
        </form>
    </main>
</div>